<template name="home">
   <div class="row">
       <div class="jumbotron jumbotron-billboard">
           <div class="img"></div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <h1>Texadelphia</h1>
                       <p>
                           The Original Texas Cheesesteak
                       </p>

                   </div>
               </div>
           </div>
       </div>
       <div id="main"></div>
   </div>
</template>